## MAC OS
.DS_Store

# Output from running any commands
*.gz
*.csv
*.jl
*.pdf
*.txt
*.xml

# In case you save a spreadsheet
*.xls
*.ods

# Hide temporary versions of files from git
*[0-9].awk
*[0-9].js
*[0-9].json
*[0-9].py
*[0-9].sh

# Local backups
*.bak

# Downloaded data used for examination and testing
/Acorn-series-html/
/Acorn-episodes-html/
/BritBox-scrapes/
/MHz-series-html/
/MHz-episodes-html/
/test-html
/sitemaps/
