## MAC OS
.DS_Store

# Output from running any commands
*.gz
*.csv
*.jl
*.pdf
*.txt
*.xml
*.html

# In case you save a spreadsheet
*.xls
*.ods

# Hide temporary versions of files from git
*[0-9].awk
*[0-9].js
*[0-9].json
*[0-9].py
*[0-9].sh

# Local backups
*.bak

# Don't preserve cookies or auth data
/auth/

# Data used for examination and testing
/IMDb-baseline/
/IMDb-columns/
/sitemaps/

# Don't preserve modules loaded by npm
/node_modules/
/tests/
/tests-examples/
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/
playwright.config.js
package.json
package-lock.json

# Keep these files
!PBS-only.csv
!rg_OPB.rgx
!missing_OPB-titles.txt
!missing_OPB-episodes.csv
!missing_OPB-shows.csv
!required_files.txt
