## MAC OS
.DS_Store

# Output from running any commands
*.csv
*.txt

# In case you save a spreadsheet
*.xls
*.ods

# Hide temporary versions of scripts from git
*[1-9].awk
*[1-9].jl
*[1-9].js
*[1-9].py
*[1-9].sh

# Local backups
*.bak

# Downloaded data used for examination and testing
/Acorn-series-html/
/Acorn-episodes-html/
/MHz-series-html/
/MHz-episodes-html/
/test-html
