# Don't preserve modules loaded by npm
/node_modules/

# Don't preserve cookies or auth data
/auth/

# Keep these files
!PBS-only.csv
!searchterms.txt
!missing_titles.txt
!missing_episodes.csv
!missing_shows.csv
